<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main-menu">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Main</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="movie">
      <ion-icon name="film-outline"></ion-icon>
      <ion-label>Movie</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tv">
      <ion-icon name="tv-outline"></ion-icon>
      <ion-label>TV</ion-label>

    </ion-tab-button>
    <ion-tab-button tab="setting">
      <ion-icon name="settings-outline"></ion-icon>
      <ion-label>Setting</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
