<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main-menu">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Movie</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tv">
      <ion-icon name="tv-outline"></ion-icon>
      <ion-label>TV</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Tab 2</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="square"></ion-icon>
      <ion-label>Tab 3</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
