ion-tab-button {
    color: #fff;
    background-color: rgba(88, 92, 107, 0.9);
}

ion-tab-bar {
    background-color: rgba(88, 92, 107, 0.9);
    padding: 3px 0;
}
.tab-selected {
    color: #77bdff;
}
