<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main-menu">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>首頁</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="movie">
      <ion-icon name="film-outline"></ion-icon>
      <ion-label>電影分類</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tv">
      <ion-icon name="desktop-outline"></ion-icon>
      <ion-label>影集分類</ion-label>

    </ion-tab-button>
    <ion-tab-button tab="search">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>搜尋</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
