ion-card-title{
    font-size: 17px;
}
ion-card-subtitle{
    margin-top: 5px;
    font-size: 12px;
}
ion-grid{
    padding:5px 0;
}
ion-card{
    margin: 5px;
}
.gary-area{
    background-color: #f1efef;
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
}
img{
    width: 100%;
}