<ion-header>
  <ion-toolbar>
    <ion-title>首頁</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/giphy.gif" alt="banner" />
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card routerLink="/trending" [state]="{data: {type:'hotMovie',kind:'movie'}}">
          <ion-card-header>
            <ion-card-title>
              熱門電影
            </ion-card-title>
            <ion-card-subtitle>Find Hot Movies Here</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card routerLink="/trending" [state]="{data: {type:'hotTv',kind:'tv'}}">
          <ion-card-header>
            <ion-card-title>
              熱門影集
            </ion-card-title>
            <ion-card-subtitle>Find Hot TV Shows Here</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <div class="gary-area">
      <p>Movies</p>
      <p>TV Shows</p>
    </div>
    <ion-row>
      <ion-col size="6">
        <ion-card routerLink="/trending" [state]="{data: {type:'upcomingMovie',kind:'movie'}}">
          <ion-card-header>
            <ion-card-title>
              即將上映
            </ion-card-title>
            <ion-card-subtitle>Movies</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card routerLink="/trending" [state]="{data: {type:'newReleaseTv',kind:'tv'}}">
          <ion-card-header>
            <ion-card-title>
              近期更新
            </ion-card-title>
            <ion-card-subtitle>TV Shows</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card routerLink="/trending" [state]="{data: {type:'topRateMovie',kind:'movie'}}">
          <ion-card-header>
            <ion-card-title>
              高評價
            </ion-card-title>
            <ion-card-subtitle>Movies</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card routerLink="/trending" [state]="{data: {type:'topRateTv',kind:'tv'}}">
          <ion-card-header>
            <ion-card-title>
              高評價
            </ion-card-title>
            <ion-card-subtitle>TV Shows</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card routerLink="/trending" [state]="{data: {type:'nowPlayingMovie',kind:'movie'}}">
          <ion-card-header>
            <ion-card-title>
              現正熱播
            </ion-card-title>
            <ion-card-subtitle>Movies</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card routerLink="/trending" [state]="{data: {type:'nowPlayingTv',kind:'tv'}}">
          <ion-card-header>
            <ion-card-title>
              現正熱播
            </ion-card-title>
            <ion-card-subtitle>TV Shows</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>