ion-grid {
    height: 100%;
}
ion-col {
    height: 30%;
}
ion-icon {
    font-size: 32px;
}
.menu-item {
    text-align: center;
    margin: auto;
    padding-top: 30%;
    padding-bottom: 30%;
    img{
        width: 50%;
        height: 50%;
    }
}
