ion-grid {
    height: 100%;
}
ion-col {
    height: 30%;
}
ion-icon {
    font-size: 32px;
}
.menu-item {
    text-align: center;
    margin: auto;
    padding: 7.5%;
    img{
        width: 60%;
        height: 60%;
    }
}
.chinese{
    font-size: 16px;
    font-weight: 600;
}
.english{
    font-size: 12px;
    font-weight: 600;
    color: #aaa;
}