<ion-header>
  <ion-toolbar>
    <ion-title>影集分類</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of menu" size="4">
        <div class="menu-item" routerLink="/generes" [state]="{data: {title:item.title,id:item.id,type:'tv'}}">
          <img src={{item.icon}} alt="item.title" />
          <div class="chinese">{{transform(item.title)}}</div>
          <div class="english">{{item.title}}</div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>